@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: #593180;
  --secondary-color: #120a1a;
  --accent-color: #38cc96;
  --tertiary-color: #ffffff;
  --brownish-color: #383838;
}
body {
  font-family: "Inter", sans-serif;
  background: var(--secondary-color);
  background: linear-gradient(
    180deg,
    var(--secondary-color) 0%,
    var(--primary-color) 100%
  );
  color: var(--secondary-color);
}
nav {
  position: fixed;
  bottom: 16px;
  padding: 1rem 0;
  left: 16px;
  right: 16px;
  border-radius: 100px;
  z-index: 1000;
  background: var(--brownish-color);
}
nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
nav ul li {
  list-style-type: none;
  padding: 0;
  border-radius: 100px;
  overflow: hidden;
}
nav ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.75rem;
  background: var(--tertiary-color);
  color: var(--secondary-color);
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-weight: 600;
}
nav ul li a.active {
  background: var(--accent-color);
}
header {
  padding: 1rem 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background: var(--secondary-color);
  background: linear-gradient(
    180deg,
    var(--secondary-color) 0%,
    var(--primary-color) 450%
  );
  width: 100vw;
}
#news-and-updates {
  background: var(--accent-color);
  font-size: 1.125rem;
  margin-bottom: 11px;
  overflow: hidden;
}
#news-and-updates p {
  animation: scroll-left 10s linear infinite;
  text-wrap: nowrap;
  color: var(--secondary-color);
}
#welcome {
  display: flex;
  padding: 0 0.5rem;
  justify-content: space-between;
}
#menu {
  width: 48px;
  height: 48px;
  background: var(--accent-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
}
h1 {
  color: var(--tertiary-color);
  display: grid;
  place-items: center;
}
.search-bar {
  padding: 1rem;
  position: relative;
}
.inputBox {
  width: 100%;
  height: 100%;
}
.inputBox input {
  width: 100%;
  height: 100%;
  padding: 1rem;
  border-radius: 100px;
  border: 0;
  outline: 0;
  font-size: 1rem;
  color: var(--secondary-color);
  font-family: "Inter", sans-serif;
}
.filter-menu {
  padding: 0 1rem;
}
.filter-menu ul {
  display: flex;
  flex-wrap: nowrap;
  overflow-y: auto;
  gap: 1rem;
}
.filter-menu ul::-webkit-scrollbar {
  display: none;
}
.filter-menu ul li {
  list-style-type: none;
  border-radius: 100px;
  display: block;
  overflow: hidden;
  padding: 0;
  flex-shrink: 0;
}
.filter-menu li a {
  display: block;
  padding: 0.5rem 1rem;
  width: 100%;
  height: 100%;
  background: var(--tertiary-color);
  color: black;
  font-size: 1rem;
  text-decoration: none;
  font-weight: 500;
}

/* Styling of the events */
main#home {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 262px 1rem 130px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main > section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main h2 {
  color: var(--tertiary-color);
  font-weight: 700px;
}
.events {
  display: flex;
  gap: 1rem;
  flex-wrap: nowrap;
  overflow-x: auto;
}
.events::-webkit-scrollbar {
  display: none;
}
.events .event {
  flex-shrink: 0;
}
.events .event {
  width: 268px;
  height: 258px;
  border-radius: 25px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}
.events .event .buttons {
  align-self: flex-end;
  display: flex;
  gap: 1rem;
}
.events .event .buttons a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem;
  border-radius: 8px;
  background: var(--brownish-color);
}
.events .bottom {
  color: var(--tertiary-color);
}
.event h3 {
  font-size: 1.5rem;
  font-weight: 700;
  font-family: "Inter", sans-serif;
  margin-bottom: 0.5rem;
}
.event .bottom p {
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-size: 1rem;
}
.event .view {
  position: absolute;
  right: 0;
  bottom: 0;
  border-radius: 100%;
  outline: 15px solid #341d4b;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.75rem;
  background: var(--accent-color);
}
.events .event.illuminart {
  background: url("../assets/images/illuminart.png");
}
.events .event.screen {
  background: url("../assets/images/screen.png");
}
.events .event.ice {
  background: url("../assets/images/ice.png");
}
.events .event.cloud {
  background: url("../assets/images/cloud.png");
}
.events .event.drop {
  background: url("../assets/images/drop.png");
}
.events .event.bubble {
  background: url("../assets/images/bubble.png");
}
.events .event.moon {
  background: url("../assets/images/moon.png");
}
.events .event.bulbs {
  background: url("../assets/images/bulbs.png");
}
.events .event.flower {
  background: url("../assets/images/flower.png");
}
.events .event.bicycles {
  background: url("../assets/images/bicycle.png");
}
.events .event.man {
  background: url("../assets/images/man.png");
}
.events .event.garden-light {
  background: url("../assets/images/garden_light.png");
}
.events .event.loot {
  background: url("../assets/images/loot.png");
}

@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* Styling of the quiz page */
main#quiz {
  padding: 1rem;
  width: calc(100vw - 2rem);
  height: calc(100vh - 2rem);
  margin: auto;
  background: var(--tertiary-color);
  border-radius: 20px;
}
